.about {
  height: 500px;
  background-color: #222629;
  display: flex;
  flex-direction: column;
}
.about_text {
  margin-top: 30px;
  flex: 0.2;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about_text > div {
  text-align: center;
  color: white;
  width: 50%;
  font-size: 25px;
}
.about_cards {
  display: flex;
  justify-content: center;
  align-items: center;
}
.about_cards {
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.about_cards > div {
  --c-darkGray: #222629;
  --c-gray: #474b4f;
  width: 33%;
  height: 90%;
  background-color: var(--c-gray);
  text-align: center;
  transition: all 0.2s ease-in-out;
  border-radius: 20px;
  
  
}
.about_cards > div > h3 {
  color: white;
  padding: 0;
  margin: 0;
}
li {
  list-style-type: none;
  color: white;
}
.about_cards > div:hover {
  transform: scale(1.1) !important;
}
