.about {
  height: 100vh;
  background-color: #3a4750;
  display: flex;
  flex-direction: column;
}
.about_text {
  margin-top: 30px;
  flex: 0.2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about_text > div {
  text-align: center;
  color: white;
  width: 50%;
  font-size: 25px;
}
.about_cards {
  display: flex;
  justify-content: center;
  align-items: center;
}
.about_cards {
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.about_cards > div {
  --c-darkGray: #303841;
  --c-gray: #3a4750;
  width: 20%;
  height: 60%;
  background-color: var(--c-darkGray);
  text-align: center;
  transition: all 0.2s ease-in-out;
  border-radius: 20px;
  
  
}
.about_cards > div > h3 {
  color: #f6c90e;
  padding: 0;
  margin: 20;
}
li {
  list-style-type: none;
  color: white;
}
.about_cards > div:hover {
  transform: scale(1.2) !important;
}

.about_cards_img{
  width: 100%;
}