.about {
  background-color: #3a4750;
  display: flex;
  flex-direction: column;
}
.about_text {
  margin-top: 30px;
  flex: 0.2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about_text > div {
  text-align: center;
  color: white;
  width: 70%;
  font-size: 3vh;
  margin-bottom: 30px;
}
.about_text > div > p {
  font-size: 1.4rem;
}
.about_text > div > span {
  font-size: 1.6vmax;
}

.about_text .highlight_text {
  color: #f6c90e;
  font-weight: 700;
}

.about_cards {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  height: 70%;
  padding: 30px 0 60px 0;
  align-items: center;
  justify-content: space-around;
}
.about_cards > div {
  --c-darkGray: #303841;
  --c-gray: #3a4750;
  width: 30vh;
  height: 50vh;
  background-color: var(--c-darkGray);
  text-align: center;
  transition: all 0.3s ease-in;
  border-radius: 20px;

  
  
}
@media screen and (max-width: 800px) {
  .about_cards > div {
      margin: 30px 0 30px 0;
      height: auto;
      
  }
  .about_cards > div:hover {
    border: 2px solid #f6c90e;
    z-index: 1;
  }
}

.about_cards > div > h3 {
  color: #f6c90e;
  padding: 0;
  margin: 20;
}
p {
  list-style-type: none;
  color: white;
}
.about_cards > div:hover {
  transform: scale(1.1) !important;
  box-sizing: border-box;
  border: 2px solid #f6c90e;
}

.about_cards_img {
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}