.contact_body {
    height: 200px;
    border-top: 5px solid black;
    padding: 30px 0 0 0;
    background-color: #303841;
    color: #f6c90e;
    
}
.icons{
    font-size: 3rem;
    margin: 15px;
    color: #f6c90e;

}