.contact_body {
    height: 120px;
    border-top: 1px solid black;
    padding: 20px 0 0 0;
    background-color: black;
    padding-bottom: 2rem;
    color: #f6c90e;
    
}
.icons{
    font-size: 3rem;
    margin: 15px;
    color: #f6c90e;

}
footer > p {
    color: #f6c90e;
    
}