.imageContainer{
    height: 100vh;
    width: 100%;
    overflow: hidden;
    background-image: url("./img/background_top2.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;

}

.titleName {
    color: 'white';
    margin:0;

}

.boxTitle {
    position: absolute;
    top: 300px; 
    left: 50px;
    font-family: 'Special Elite', cursive;
}

.boxTitle h1 {
    margin: 0 0 50px 0;
    color:#f6c90e;
    font-size: 3rem;
    font-family: 'PT Sans', sans-serif;
    
}

.boxTitle h3 {
    margin: 0 0 20px 0;
    font-size: 1.7rem;
    color:white;
    text-align: right;
    font-family: 'Share Tech Mono', monospace;
    
}


/* .imageContainer > img{
    width: 100%;
    height: 100%;
} */