.main_nav {
  position: fixed;
  z-index: 1000;
  height: 42.4px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3a4750;
  
}

.nav_items {
  width: 100%;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color:#eeeeee ;
}
.active{
    color:#f6c90e;
}
.list_item:after {
  content: "";
  display: block;
  margin: auto;
  height: 3px;
  width: 0px;
  background: transparent;
  transition: width 0.5s ease, background-color 0.5s ease;
}
.list_item:hover {
  cursor: pointer;
}
.list_item:hover:after {
  width: 100%;
  background: #f6c90e;
}
