.body {
    background: #303841;
}

.project_title {
    background-color: #303841;
    color: #f6c90e;
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    padding-bottom: 40px;
    flex: 0.2;
    align-items: center;
    justify-content: center;
}
.project_title > h2 {
    font-size: 3vh;

}

.work_contentStyle { 
    background: rgb(33, 150, 243);
    color: #fff;
    --c-darkGray: #303841;
    --c-gray: #3a4750;
    --c-yellow: #f6c90e;
}

.projects_date{
    font-size: 3rem;
}
.btns{
    padding-top: 20px;
}
.btns_span {
    margin-left: 50px;
    
}

li {
    text-align: justify;
    line-height: 1.5rem;
    line-height-step: 1rem;
}
li:not(:last-child) {
    margin-bottom: 5px;
}